.form-control {
  background-color: var(--font-color);
  color: var(--main-color);
  border-width: 2px;
  border-color: var(--font-color);
}

.form-control:focus {
  background-color: var(--font-color);
  color: var(--main-color);
}

.btn {
  background-color: var(--primary-btn);
  color: var(--font-color);
  border-width: 2px;
  border-color: var(--primary-btn);
}

.btn:hover {
  background-color: var(--secondary-btn);
  color: var(--font-color);
  border-width: 2px;
  border-color: var(--secondary-btn);
}

.btn:focus {
  background-color: var(--secondary-btn);
  color: var(--font-color);
  border-width: 2px;
  border-color: var(--secondary-btn);
}

.btn-danger {
  background-color: var(--primary-danger);
  color: var(--font-color);
  border-width: 2px;
  border-color: var(--primary-danger);
}

.btn-danger:hover {
  background-color: var(--secondary-danger);
  color: var(--font-color);
  border-width: 2px;
  border-color: var(--secondary-danger);
}

select {
  width: 100%;
  background-color: var(--secondary-btn);
  color: var(--font-color);
  border-width: 2px;
  border-color: var(--secondary-btn);
}

select:hover {
  background-color: var(--secondary-btn);
  color: var(--font-color);
  border-width: 2px;
  border-color: var(--secondary-btn);
}

select:active {
  background-color: var(--secondary-btn);
  color: var(--font-color);
  border-width: 2px;
  border-color: var(--secondary-btn);
}

/* textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: var(--secondary-color);
  box-shadow: 0 1px 1px var(--secondary-color) inset,
    0 0 4px var(--secondary-color);
  outline: 0 none;
} */

.alert {
  margin-top: 2px;
}

.customer-card {
  display: flex;
  align-items: center;
}

.card-title {
  text-align: center;
}

.form-check {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  position: relative;
}