.nav-buttons {
    position: fixed;
    top: 90px;
    right: 10px;
    width: 100px;
    height: 40px;
    color: var(--main-color);
    background-color: var(--trinary-color);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    opacity: 0.8;
  }
  
  .nav-btn {
    color: var(--main-color);
    max-width: 50px;
    max-height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  
  .nav-btn:hover {
    background-color: var(--hover-background-color);
    color: var(--main-color);
    cursor: pointer;
  }
  
  .create-order-btn {
    position: fixed;
    top: 50%;
    right: 10px;
    color: var(--font-color);
    width: 64px;
    height: 64px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    padding: 0;
    margin: 0;
  }

  .create-order-btn:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  .scroll-to-top-btn {
    position: fixed;
    z-index: 1;
    bottom: 95px;
    right: 10px;
    color: var(--main-color);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
    background-color: var(--trinary-color);
    padding: 0;
    margin: 0;
    opacity: 0.8;
  }

  .scroll-to-top-btn:hover {
    background-color: var(--hover-background-color);
    color: var(--main-color);
    cursor: pointer;
  }