.sidebar {
  background-color: var(--main-color);
  color: var(--font-color);
  min-width: 300px;
  font-size: 20px;
  min-height: calc(100vh - var(--topbar-height));
  max-height: calc(100vh - var(--topbar-height));
  position: sticky;
  top: 80px;
  font-weight: var(--font-weight-title);
}

.nav-item {
  display: flex;
  align-items: center;
}

.list-group-item {
  background-color: var(--main-color);
  color: var(--font-color);
  border: none;
}

.list-group-item:hover {
  background-color: var(--font-color);
  color: var(--main-color);
}

label {
  display: block;
  margin-top: 10px;
}

.app-version {
  opacity: 0.5;
  position: absolute;
  left: 16px;
  bottom: 15px;
  font-size: 14px;
}