.topbar {
  background-color: var(--main-color);
  height: var(--topbar-height);
  min-width: 100%;
  color: var(--font-color);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: flex-start;
  position: -webkit-sticky;

  position: sticky;
  top: 0;
  z-index: 1;
}

.userDropdown {
  position: absolute;
  right: 40px;
}

.user {
  display: flex;
  align-items: center;
  height: 50px;
  min-width: 200px;
  max-width: 200px;
  text-align: center;
}

.user:hover {
  color: var(--main-color);
}

.dropdown-menu {
  background-color: var(--main-color);
  color: var(--font-color);
  border-width: 2px;
  border-color: var(--font-color);
  word-wrap: break-word;
}

.dropdown-item {
  display: flex;
  justify-content: center;
  color: var(--font-color);
  padding: 0;
  height: 40px;
  align-items: center;
}

.dropdown-menu {
  min-width: 210px;
  max-width: 210px;
}

.dropdown-item:hover {
  text-decoration: none !important;
  background-color: var(--font-color)
}

.navbar-brand {
  margin-left: 60px;
}

.userDropdown {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.btn-primary.dropdown-toggle {
  background-color: var(--main-color) !important;
  border-color: var(--main-color) !important;
}

.btn-primary.dropdown-toggle:hover {
  color: var(--main-color) !important;
  background-color: var(--font-color) !important;
  border-color: var(--main-color) !important;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-primary.focus,
.btn-primary:focus {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.user-name {
  word-wrap: inherit;
}